

.error-message {
  font-weight: bold;
  color: red;
}

.submit-button {
  color: white;
  font-weight: bold;
  background-color: #04AA6D;;
  border: 1px solid #04AA6D;;
  cursor: pointer;
}

.primary-btn {
  color: #fff;
  font-weight: bold;
  background-color: gray;  
}

.invisible {
  display: none;
}