
# Ignore file extensions
*.DS_Store
*.Rhistory
*.gitignore
*.Rbuildignore
*.Rproj
*.log
*.Renviron

# Ignore folders
**.git
**.github
**.Rproj.user

# Ignore specific files
docker-compose.yml
docker-compose-*.yml