
# The rules for the patterns you can put in the .gitignore file are as follows:
# 1. Blank lines or lines starting with # are ignored.
# 2. Standard glob patterns work, and will be applied recursively throughout the entire working tree.
# 3. You can start patterns with a forward slash (/) to avoid recursivity.
# 4. You can end patterns with a forward slash (/) to specify a directory.
# 5. You can negate a pattern by starting it with an exclamation point (!).

# Ignore specific files 
.Rhistory
.Renviron
.DS_Store
.Rapp.history

# Ignore file extensions
*.env

# Ignore folders
.Rproj.user
archive
schemas
OmicSignature
docs


inst/extdata/signatures/omic_signature_MDA_AhR_revised.RDS
inst/extdata/signatures/ahr_cyp1b1_brca_diffanal.RDS
inst/extdata/signatures/omic_signature_MDA_CYP_revised.RDS
inst/extdata/signatures/omic_signature_SUM_AhR_revised.RDS
inst/extdata/signatures/omic_signature_SUM_CYP_revised.RDS
inst/shiny/ui/login_ui.R
inst/extdata/signatures/OmSC_example.RDS
