
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

p.psw {
  float: right;
  padding-top: 1em;
  padding-bottom: 1em;
}

#login-wrapper {
  margin-top: 50px;
  width: 100%;
  overflow-y: scroll;
  /*border: 1px solid red;*/
}

#login-wrapper::-webkit-scrollbar {
  width: 5px;
}

#login-wrapper::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}

#login-error-message {
  color: red; 
  font-weight: bold; 
  padding-top: 5px;
}

#form-wrapper {
  /*border: 1px solid red;*/
}

.row.login {
	/*border: 1px solid blue;*/
}

.box.form {
  background: #fff;
  border-radius: 6px;
  border: 1px solid black;
}

.login-title {
  padding: 2em;
  background-image: url("images/pic05.jpg");
  background-size: cover;
  border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
  text-align: center;
}

  .login-title h2 {
    padding: 0;
    margin: 0;
    color: #fff;
  }

.login-form {
  padding: 2em;
  text-align: left;
  /*border: 1px solid red;*/
}

.login-button {
  background: #fff;
  padding: 0 2em 2em 2em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  /*border: 1px solid red;*/
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1280px) {
  
  p.psw {
    text-align: center;
    padding-top: 1em;
    float: none;
  }

}

